<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="static\style.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1>User List</h1>
    <a href="http://localhost:8080/autoPujcovna">home</a>
    <form th:action="@{users/add}" method="get">
        <button type="submit">Add</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:action="@{users/{id}(id=${user.id})}" method="delete">
                    <input type="hidden" name="_deleteMethod" value="delete" />
                    <button type="submit">Delete</button>
                </form>
                <form th:action="@{users/edit/{id}(id=${user.id})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>